[Unit]
Description=OpenSSH Key Generation
RequiresMountsFor=/var /run

[Service]
ExecStart=/usr/libexec/openssh/sshd_check_keys
Type=oneshot
RemainAfterExit=yes
Nice=10
