[Unit]
Description=NFS status monitor for NFSv2/3 locking.
DefaultDependencies=no
Conflicts=umount.target
Requires=nss-lookup.target rpcbind.service
After=network.target nss-lookup.target rpcbind.service
ConditionPathExists=/etc/exports

[Service]
EnvironmentFile=-/etc/nfs-utils.conf
ExecStart=/usr/sbin/rpc.statd -F $STATD_OPTS
LimitNOFILE=4096
StateDirectory=nfs

[Install]
WantedBy=multi-user.target
