menu "user packages " 
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config mariadb  
	 bool "mariadb"
	 help
	
config modphp  
	 bool "modphp"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config php  
	 bool "php"
	 help
	
config phpmyadmin  
	 bool "phpmyadmin"
	 help
	
endmenu
